.App {
  margin-bottom: 20px ;
}

h2{
  text-align: left;
  padding-left: 20%;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: ghostwhite;
  color: deepskyblue;
  font-size: 190%;
  font-family: "Bradley Hand ITC";
}
h4{
  text-align: left;
  padding-left: 20%;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: ghostwhite;
  color: deepskyblue;
  font-size: 110%;
  font-family: "Bradley Hand ITC";
}

.App-header {
  background: url(../Images/TKD4.jpg);
  background-size: 70% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  padding: 50px;
  color: white;
}

.App-intro {
  font-size: large;
}
.resume-button{
  display: flex;
  width: 14%;
  height: 33px;
  border-radius: 15px;
  background-color: deepskyblue;
  color: aliceblue;
  border-style: none;
  margin-top: 4%;
  margin-left: 18%;
  cursor: pointer;
}
.resume-button img{
  width: 18px;
  margin: auto 0 auto auto;
}

.resume-button div{
  font-size: 12px;
  margin: auto auto auto 6px;
}
